body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  padding: 8px;
  margin: 0;
  background-color: #FFC6BF;
}

header {
  background-color: #e19d94;;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #ffe6e6;
  font-weight: bold;
  font-size: 16px;
}

nav a:hover {
  color: #ff0000;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #efd6d3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 3px solid rgb(239, 161, 161);
}

h1, h2 {
  color: #333;
  text-align: center;
}

h1 {
  font-family: Georgia;
}

h2 {
  font-family: 'Franklin Gothic Medium';
}

section {
  background-color: #edbbb6;
  padding: 1px 13px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

ul, ol {
  padding-left: 20px;
}

p {
  margin-top: 0;
}

section#interests {
  text-align: center;
}

ul.interests-hobbies {
  list-style: none;
  padding: 0;
}

.works {
  display: flex;
  justify-content: space-around;
}

a {
  color: #425b8a;
  text-decoration: none;
}

a:hover {
  color: #ff0000;
}

.gallery {
  padding: 0 20px 0 20px;
  border: 4px solid rgb(239, 161, 161);
}

.gallery section.image-container {
  padding: 0;
}

.image-container {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid #000000;
  border-radius: 18px;
}

.card {
  width: calc(30% - 3px);
  margin-right: 10px;
  position: relative;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
}

.card:hover ~ .card {
  left: 50px;
}

.gallery section.card {
  background: none;
  border-bottom: none;
}

.life-goals {
  display: flex;
  justify-content: space-around;
}

#interests, #work, #testimonials, #gallery, 
#goals, #journal, .comment-section {
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.1);
}

.work-list, .goals {
  background: #e9a9a2;
  border: 4px solid rgb(132 63 63);
}

#work h2, #goals h2 {
  margin-bottom: 0;
}

.comment-section {
  background-color: #edbbb6;
  padding: 1px 13px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

#sort_asc, #sort_desc {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

#sort_asc:hover, #sort_desc:hover {
  background-color: #47854a;
}

#comment_form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-bottom: 10px;    
  background-color: #efd6d3;
  border: 4px solid rgb(239, 161, 161);
}

#comment_form label,
#comment_form textarea,
#comment_form input[type="text"] {
  display: block;
  margin-bottom: 10px;
}

#comment_button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

#comment_button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
} 